#wrapper {
    background-image: url('./assest/Fondo negro.png');
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
  }
